body {
    background-color: #f8f9fa;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 2.5rem;
}

#bienvenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: Georgia, serif;
    font-size: 1.5rem !important;
    color: #123A3A;
    margin: 50px;
}

h1, #site-title {
    font-family: Georgia, serif;
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
    color: #123A3A !important;
}

h2 {
    font-size: 1.8rem !important;
    margin-bottom: 1rem !important;
    color: #123A3A !important;
}

h3 {
    font-size: 1.4rem !important;
    margin-bottom: 1rem !important;
    color: #123A3A !important;
}

h4 {
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
    color: #123A3A !important;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.logo {
    width: 150px;
    height: auto;
}

#login {
    border: 2px solid #123A3A;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 70%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#navbar{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #c9cdcd;
    color: white;
    height: 8rem;
    justify-content: flex-start;
}

/* Menu principal*/
#navbar .button-container {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.button-container ul li {
    margin: 0 10px;
}

.button-container ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-container ul li a:hover {
    background-color: darkgreen;
}

/*Menu secondaire*/
#navbar .button-container-bis {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.button-container-bis {
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-around;
}

.button-container-bis ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.button-container-bis ul li {
    margin: 0 10px;
}

.button-container-bis ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #123A3A;
    color: white;
    font-family: Georgia, serif;
    font-size: 1rem !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

}

button {
    background-color: #123A3A;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    font-family: Georgia, serif !important;
    font-size: 1rem !important;
}

#navbar .button-container button {
    width: 150px;
    height: 50px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-text, .card-link{
    height: 5rem;
}

.card-link{
    color: #123A3A;
}

.card {
    margin: 1rem;
    outline: #c9cdcd solid 0.2rem;
}

#home{
    margin-bottom: 1rem;
}

#location-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#location-details img {
    width: 100%;
    max-height: 330px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

#location-details h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #123A3A;
}

#location-details p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

#location-details .details {
    font-size: 1rem;
    color: #777;
    margin-bottom: 1rem;
}

#comments {
    margin-top: 2rem;
    width: 100%;
}

.comment {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #d9dfd7;
    border: 1px solid #c9cdcd;
    border-radius: 0.5rem;
}

.comment h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #123A3A;
}

.comment p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.comment .author {
    font-size: 0.9rem;
    color: #777;
}

.comment-divider {
    margin-top: 2rem;
    border-top: 1px solid #c9cdcd;
}

.comment:not(:last-child) {
    border-bottom: 2px solid #c9cdcd;
    padding-bottom: 1rem;
}

@media (max-width: 576px) {
    #login {
        width: 75%;
    }
    .logo {
        width: 100px;
        height: auto;
    }
    h1{
        font-size: 1rem !important;
    }

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table th, table td {
    border: 1px solid #c9cdcd;
    padding: 1rem;
    text-align: left;
}

table thead {
    background-color: #d9dfd7;
}

table tfoot {
    background-color: #f2f2f2;
}

#footer a#lien-mentions-legales {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#footer a#lien-mentions-legales:hover {
    color: #ffffff;
    text-decoration: underline;
}

#mention-legal {
    margin: 20px;
}

#mention-legal h1 {
    font-size: 2rem;
    color: #123A3A;
    margin-bottom: 1rem;
}

#mention-legal h2 {
    font-size: 1.8rem;
    color: #123A3A;
    margin-bottom: 0.5rem;
}

#mention-legal h3 {
    font-size: 1.6rem;
    color: #123A3A;
    margin-bottom: 0.5rem;
}

#mention-legal p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

#mention-legal section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #d9dfd7;
    border: 1px solid #c9cdcd;
    border-radius: 0.5rem;
}

.form-control:focus {
    border-color: #004d40 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 77, 64, 0.25) !important;
}